thumbs.db
.DS_Store
*~

ss_fix.log
soundsense_gamelog.txt

Dwarf Fortress/raw/backup
Dwarf Fortress/data/save/

gamelog.txt
stderr.log
stderr.txt
stdout.txt
dfhack.history
errorlog.txt
map_rejection_log.txt
