thumbs.db
.DS_Store
*~

Dwarf Fortress/ss_fix.log
Dwarf Fortress/soundsense_gamelog.txt
Dwarf Fortress/raw/backup
Dwarf Fortress/stderr.txt
Dwarf Fortress/stdout.txt
Dwarf Fortress/data/save/
Dwarf Fortress/dfhack.history
Dwarf Fortress/errorlog.txt
Dwarf Fortress/map_rejection_log.txt
Dwarf Fortress/gamelog.txt
Dwarf Fortress/stderr.log
Dwarf Fortress/stdout.log
